<!--18.6 dodati tagove za nove komponente -->
<!--36.3 Dodati html za errore ->SupplierValuesController.cs-->
<div class="bg-danger text-white text-center p-2 m-2" *ngIf="error != null">
  <h6 *ngFor="let e of error">{{ e }}</h6>
  <button class="btn btn-warning" (click)="clearError()">OK</button>
</div>
<!--20.1 Dodati router outlet ->productTable.ts-->
<router-outlet></router-outlet>

<!--19.3 Dodati html ->productTable.html-->
<!--<div class="container">
  <div class="row">
    <div class="col">
      <category-filter></category-filter>
      <product-table></product-table>
    </div>
    <div class="col">
      <product-detail></product-detail>
    </div>
  </div>
</div>-->

<!--10 Dodati html da ispisuje sve producte ->ProductValuesController-->
<!--<div class="p-2">
  <table class="table table-sm table-striped">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Supplier</th>
        <th>Ratings</th>
      </tr>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.supplier?.name || "None" }}</td>
        <td>{{ product.ratings?.length || 0 }}</td>
      </tr>
    </tbody>
  </table>-->
<!--14.7 dodati html za buttone ->ProductValuesController-->
<!--<button class="btn btn-primary m-1" (click)="createProduct()">
    Create Product
  </button>
  <button class="btn btn-primary m-1" (click)="createProductAndSupplier()">
    Create Product and Supplier
  </button>-->
<!--15.5 dodati html za update buttone-->
<!--<button class="btn btn-primary m-1" (click)="replaceProduct()">
    Replace Product
  </button>
  <button class="btn btn-primary m-1" (click)="replaceSupplier()">
    Replace Supplier
  </button>-->
<!--16.6 Dodati html ->DataContext-->
<!--<button class="btn btn-primary m-1" (click)="updateProduct()">
    Update Product
  </button>-->
<!--17.6 dodati delete dugmadi-->
<!--<button class="btn btn-primary m-1" (click)="deleteProduct()">
    Delete Product
  </button>
  <button class="btn btn-primary m-1" (click)="deleteSupplier()">
    Delete Supplier
  </button>
</div>-->
