<!--18.4 dodati html za filtere ->app.module.ts-->
<div>
  <button class="btn btn-primary m-1" (click)="setCategory('soccer')">
    Soccer
  </button>
  <button class="btn btn-primary m-1" (click)="setCategory(chessCategory)">
    Chess
  </button>
  <button class="btn btn-primary m-1" (click)="setCategory('Water' + 'Sports')">
    Watersports
  </button>
  <button class="btn btn-primary m-1" (click)="setCategory(null)">All</button>
</div>
