<!--18.2 dodati html ->categoryFilter.component.ts-->
<!--Dodati dugme za details ->productTable.ts-->
<table class="table table-striped">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th></th>
    </tr>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.price }}</td>
      <td>
        <!--20.7 dodati button za details-->
        <button
          class="btn btn-primary btn-sm"
          [routerLink]="['/detail', product.productId]">
          Details
        </button>
      </td>
    </tr>
  </tbody>
</table>
