<!--28.1 dodati html za detalje ->store.module.ts-->
<div class="bg-dark text-white p-2">
  <div class="navbar-brand">SPORTS STORE</div>
</div>
<div class="m-1">
  <h2 class="text-center">Your Cart</h2>
  <table class="table table-bordered table-striped p-1">
    <thead>
      <tr>
        <th>Quantity</th>
        <th>Product</th>
        <th class="text-right">Price</th>
        <th class="text-right">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="cart.selections.length == 0">
        <td colspan="4" class="text-xs-center">
          Your cart is empty
        </td>
      </tr>
      <tr *ngFor="let sel of cart.selections">
        <td>
          <input
            type="number"
            class="form-control-sm"
            style="width: 5em;"
            [(ngModel)]="sel.quantity"
          />
        </td>
        <td>{{ sel.name }}</td>
        <td class="text-right">
          {{ sel.price | currency: "USD":"symbol":"2.2-2" }}
        </td>
        <td class="text-right">
          {{ sel.quantity * sel.price | currency: "USD":"symbol":"2.2-2" }}
        </td>
        <td class="text-center">
          <button
            class="btn btn-sm btn-danger"
            (click)="cart.updateQuantity(sel.productId, 0)"
          >
            Remove
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="text-right">Total:</td>
        <td class="text-right">
          {{ cart.totalPrice | currency: "USD":"symbol":"2.2-2" }}
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<div class="text-center">
  <button class="btn btn-primary m-1" routerLink="/store">
    Continue Shopping
  </button>
  <button
    class="btn btn-secondary m-1"
    routerLink="/checkout"
    [disabled]="cart.selections.length == 0"
  >
    Checkout
  </button>
</div>
