<!--22.8 dodaati html ->ratings.component.ts-->
<!--<div>Placeholder: Cart Summary</div>-->
<!--27.4 Dodati html -> cartDetail.component.ts-->
<div class="text-right p-1">
  <small *ngIf="itemCount > 0; else empty">
    {{ itemCount }} item(s), {{ totalPrice | currency: "USD":"symbol" }}
  </small>
  <button
    class="btn btn-sm ml-1"
    [disabled]="itemCount == 0"
    routerLink="/cart"
  >
    <i class="text-white fa fa-shopping-cart"></i>
  </button>
</div>
<ng-template #empty>
  <small class="text-muted">
    (cart is empty)
  </small>
</ng-template>
