<!--22.6 Dodati placeholder html ->cartSummary.component.ts-->
<!--24.7 dodati html za filtere -> app-routing.module.ts -->
<div class="m-1">
    <button class="btn btn-outline-primary btn-block"
    [class.active]="service.currentCategory == ''"
    (click)="service.currentCategory = ''">All Categories
    </button>

    <button *ngFor="let category of service.categories"
    class="btn btn-outline-primary btn-block"
    [class.active]="service.currentCategory.toLowerCase()
    == category.toLowerCase()"
    (click)="service.currentCategory = category">
    {{category}}
    </button>
    </div>