<!--22.12 dodati html ->store.module.ts-->
<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <div class="navbar-brand">SPORTS STORE</div>
      <div class="float-right navbar-text">
        <store-cartsummary></store-cartsummary>
      </div>
    </div>
  </div>
</div>
<!--33.10 Dodati html za admina ->Startup.cs-->
<div class="col-3 fixed-bottom mb-1">
  <a class="btn btn-block btn-secondary" routerLink="/admin">
  Administration
  </a>
  </div>
<div class="row no-gutters">
  <div class="col-3">
    <store-categoryfilter></store-categoryfilter>
  </div>
  <div class="col">
    <store-product-list></store-product-list>
    <store-pagination></store-pagination>
  </div>
</div>
