<!--22.10 Dodati html ->productSelection.component.ts-->
<!--<h5>Placeholder: Ratings</h5>-->
<!--26.2 DOdati html za rates ->productList.component.html-->
<span class="h6 ml-1">
  <i
    *ngFor="let s of stars"
    [class]="s ? 'fas fa-star' : 'far fa-star'"
    [style.color]="s ? 'goldenrod' : 'gray'"
  >
  </i>
</span>
