<!--31.6 dodati html za detalje checkouta ->checkoutPayment.component.ts-->
<div class="bg-dark text-white p-2">
  <div class="navbar-brand">SPORTS STORE</div>
</div>
<h2 class="text-center mt-2">Step 1: Your Details</h2>
<div class="p-2">
  <form novalidate #detailsForm="ngForm">
    <div class="form-group">
      <label>Name</label>
      <input
        #name="ngModel"
        name="name"
        class="form-control"
        [(ngModel)]="order.name"
        required
      />
      <div *ngIf="name.invalid" class="text-danger">
        Please enter your name
      </div>
    </div>
    <div class="form-group">
      <label>Address</label>
      <input
        #address="ngModel"
        name="street"
        class="form-control"
        [(ngModel)]="order.address"
        required
      />
      <div *ngIf="address.invalid" class="text-danger">
        Please enter your address
      </div>
    </div>
    <div class="text-center pt-2">
      <button
        type="button"
        class="btn btn-outline-primary m-1"
        routerLink="/cart"
      >
        Back
      </button>
      <button
        type="button"
        class="btn btn-danger m-1"
        [disabled]="detailsForm.invalid"
        routerLink="/checkout/step2"
      >
        Next
      </button>
    </div>
  </form>
</div>
