<!--33.1 Dodati html ->overview.component.ts -->
<div class="navbar bg-info mb-1">
  <!--39.4 dodati html za dugme ->-->
  <a class="navbar-brand text-white">SPORTS STORE Admin</a>
  <div class="float-right navbar-text">
    <button class="btn btn-sm btn-warning" (click)="authService.logout()">
      Log Out
    </button>
  </div>
</div>
<div class="col-3 fixed-bottom mb-1">
  <a class="btn btn-block btn-secondary" routerLink="/store">
    Store
  </a>
</div>
<div class="row no-gutters">
  <div class="col-3">
    <button
      class="btn btn-block btn-outline-info m-1"
      routerLink="/admin"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Overview
    </button>
    <button
      class="btn btn-block btn-outline-info m-1"
      routerLink="/admin/products"
      routerLinkActive="active"
    >
      Products
    </button>
    <button
      class="btn btn-block btn-outline-info m-1"
      routerLink="/admin/orders"
      routerLinkActive="active"
    >
      Orders
    </button>
  </div>
  <div class="col p-2">
    <router-outlet></router-outlet>
  </div>
</div>
