<!--34.1 Dodati html komponentu ->admin.module.ts-->
<div class="form-group">
  <label>Name</label>
  <input class="form-control" [(ngModel)]="product.name" />
</div>
<div class="form-group">
  <label>Category</label>
  <input class="form-control" [(ngModel)]="product.category" />
</div>
<div class="form-group">
  <label>Supplier</label>
  <select
    class="form-control"
    [(ngModel)]="product.supplier"
    [compareWith]="compareSuppliers"
  >
    <option *ngFor="let s of suppliers" [ngValue]="s">{{ s.name }}</option>
  </select>
</div>
<div class="form-group">
  <label>Description</label>
  <textarea class="form-control" [(ngModel)]="product.description"></textarea>
</div>
<div class="form-group">
  <label>Price</label>
  <input type="number" class="form-control" [(ngModel)]="product.price" />
</div>
