<!--33.5 Dodati placeholder html ->orderAdmin.component.ts-->
<!--<h4 class="text-center m-2">Product Admin Placeholder</h4>-->
<!--34.4 Dodati html za producte ->orderAdmin.component.ts-->
<table *ngIf="tableMode; else create" class="table table-sm table-striped">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Supplier</th>
      <th>Price</th>
      <th></th>
    </tr>
    <tr *ngFor="let p of products">
      <ng-template [ngIf]="product?.productId != p.productId" [ngIfElse]="edit">
        <td>{{ p.productId }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.category }}</td>
        <td>{{ p.supplier?.name || "(None)" }}</td>
        <td>{{ p.price | currency: "USD":"symbol" }}</td>
        <td>
          <button
            class="btn btn-sm btn-primary"
            (click)="selectProduct(p.productId)"
          >
            Edit
          </button>
          <button
            class="btn btn-sm btn-danger ml-1"
            (click)="deleteProduct(p.productId)"
          >
            Delete
          </button>
        </td>
      </ng-template>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <button
          class="btn btn-primary"
          (click)="clearProduct(); tableMode = false"
        >
          Create
        </button>
      </td>
    </tr>
  </tfoot>
</table>
<ng-template #edit>
  <td colspan="6" class="bg-light border p-3">
    <admin-product-editor></admin-product-editor>
    <div class="text-center">
      <button class="btn btn-sm btn-primary" (click)="saveProduct()">
        Save
      </button>
      <button class="btn btn-sm btn-info ml-1" (click)="clearProduct()">
        Cancel
      </button>
    </div>
  </td>
</ng-template>
<ng-template #create>
  <div class="m-2">
    <admin-product-editor></admin-product-editor>
    <button class="btn btn-primary" (click)="saveProduct()">
      Save
    </button>
    <button class="btn btn-info ml-1" (click)="clearProduct()">
      Cancel
    </button>
  </div>
</ng-template>
